:host {
    min-height: 100%;
    display: block;
  }

.form-signin {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-body{
  height: 100vh;
}
