<div class="container-body d-flex justify-content-around align-items-center">
  <form class="form-signin">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Introduzca su nombre de usuario">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></div>
      </div>
      <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Introduzca su contraseña">
    </div>
    
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </form>
</div>
